body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    margin:auto;
    color:#444;
    background-color: #ccc;
    margin-bottom: 40px;

}

h1{
    color:#1d1a2f;
    background-color:#965fd4;
    font-size: 46px;
    text-align: center;
    margin-bottom: 0px;
}

h2{
    color:#734f9a;
    background-color:#b6b6b6 ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    border-bottom: 3px solid;  
    border-color: #8bd450;
    padding: 10px;
    margin-top: 48px;
    margin-bottom: 12px;
}

ul{
    padding-left: 0;
}

li{
    list-style-position: inside;
}
a{
    text-decoration: none;
}

.center{
   text-align: center; 
}

.menu{
    text-align: center;
}
.menu li{
    list-style: none;
    display:inline-block;
    background-color: #1d1a2f;
    padding: 1px;
}

.menu a{
    color: #965fd4;
    font-weight: bold;
    text-shadow: #1d1a2f;
    background-color: #8bd450;
    padding: 16px;
    text-decoration: none;
    display:inline-block
}

.menu a:hover{
    background-color: #b6b6b6;
}